<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/AjinkyaBapat/Ansible-Run-Analyser">Ansible Run Analyser</a></strong>
			- ARA records Ansible playbook runs and makes the recorded data available and intuitive for users and systems. You can install it using Ansible Role hosted on my GitHub Account.

		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/AjinkyaBapat/KatakodaRepo">Jenkins-Git Tutorial</a></strong>
			- I wrote a tutorial on Jenkins & Git. This repository contains Scenario Samples for the Tutorial which is hosted on Katacoda.com
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://www.hackster.io/ajinkya-bapat/poem-reciter-alexa-skill-155dc2">Poem Reciter: Alexa Skill</a></strong>
			- Let Alexa recite a poem for you! Enable the skill and Just ask: "Alexa, open poem reciter" and there you go!
        You can find the skill <a href="https://www.amazon.com/Ajinkya-Bapat-Poem-Reciter/dp/B0778TCNJT">HERE</a>.
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://www.hackster.io/ajinkya-bapat/facts-of-india-alexa-skill-551ddd">Facts of India: Alexa Skill</a></strong>
			- Skill to explore some amazing facts about India! Just ask "Alexa, open facts of india". Or in-short, just ask, "Facts about India".
        You can find the skill <a href="https://www.amazon.com/Ajinkya-Bapat-Facts-of-India/dp/B0771L8R48">HERE</a>.
		</h5>

    </div>
  </div>
</div>
</section>
